global_frame: odom
robot_base_frame: base_footprint
update_frequency: 2.0
publish_frequency: 1.0

publish_voxel_map: false

rolling_window: true
width: 15.0
height: 10.0
resolution: 0.2

transform_tolerance: 0.3
obstacle_range: 10.0
max_obstacle_height: 2.0
raytrace_range: 12.0
# footprint: [[-0.325, -0.325], [-0.325, 0.325], [0.325, 0.325], [0.46, 0.0], [0.325, -0.325]]
robot_radius: 0.85
footprint_padding: 0.01

inflation_radius: 0.85
cost_scaling_factor: 10.0
lethal_cost_threshold: 100


observation_sources: base_scan
base_scan: {data_type: LaserScan,
  topic: "/front_laser_points",
  sensor_frame: "front_laser_link",
  expected_update_rate: 0.25,
  observation_persistence: 0.0, 
  marking: true, 
  clearing: true, 
  max_obstacle_height: 1.0, 
  min_obstacle_height: 0.08}